<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
      <img class="Avatar-image" src="https://pbs.twimg.com/profile_images/524021861084975104/PKccj3dB_400x400.jpeg" alt="Thiago Almeida">
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <li class="sidebar-nav-item">Currently v{{ site.version }}</li-->
    </ul>
    
    <p>
      <a href="https://twitter.com/nzthiago" target="_blank" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @nzthiago</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <a class="github-button" href="https://github.com/nzthiago" data-count-href="/nzthiago/followers" data-count-api="/users/nzthiago#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @nzthiago on GitHub">Follow @nzthiago</a>
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </p>
    
    <p>Search:</p>
      <input id="search" type="text" value="asset" />
      <button id="searchBtn">Search</button>
      <script type="text/javascript" src="/public/js/search-min.js"></script>
      
    <div id="output"></div>   
    <div class="sidebar-footer">
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.<br>
      Powered by <a href="http://tinypress.co" target="_blank">tinypress.co</a></p>
    </div>    
  </div>
</div>
